<!DOCTYPE html>
<html lang="{{config.get("SITE_LANG", "en")}}" {% block html_tag_attrs %}{% endblock %}>
    <head>
        {% block head -%}
        {% block head_metas %}
          {{ metadata_tags(page.get('metadata', {})) }}
        {% endblock %}
        {% asset_tags(nonce=csp_nonce) %}
        {% block head_assets %}{% endblock %}
        {%- endblock %}
    </head>
    {% block body_tag -%}
    <body
        {% if config["HTMX_EXT"] %}hx-ext="{{ ','.join(config['HTMX_EXT']) }}"{% endif %}
        {% if config["HTMX_BOOST_SITE"] %}hx-boost="true"{% endif %}
        {% block body_tag_attrs %}{% endblock %}
    >
    {%- endblock %}
        {% block body %}{% block content %}{% endblock %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block flash_messages %}
          {% autoescape false %} {# Jinja bug #}
            <{FlashMessagesToast}/>
          {% endautoescape %}
        {% endblock %}
        {% block body_end %}{% endblock %}
    </body>
</html>
